/* src/styles/typography.css */
/* Text 3xl */

.text-3xl-bold {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
}

.text-3xl-semibold {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
}

/* Text 2xl */

.text-2xl-bold {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.text-2xl-semibold {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.text-2xl-medium {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.text-2xl-regular {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

/* Text xl */

.text-xl-bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.text-xl-semibold {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.text-xl-medium {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.text-xl-regular {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

/* Text 2lg */

.text-2lg-bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.text-2lg-semibold {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.text-2lg-medium {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.text-2lg-regular {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

/* Text lg */

.text-lg-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.text-lg-semibold {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.text-lg-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.text-lg-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* Text md */

.text-md-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.text-md-semibold {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.text-md-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.text-md-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* Text sm */

.text-sm-semibold {
  font-size: 13px;
  font-weight: 600;
  line-height: 22px;
}

.text-sm-medium {
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
}

/* Text xs */

.text-xs-semibold {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}

.text-xs-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.text-xs-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
